In [1]:
import os
import pandas as pd
import numpy as np

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

### Loading player data from filepath

In [2]:
# Loading Part
loaded_gameweek_dataframes = {}
load_path = "/Users/evgenigeorgiev/Documents/Jupyter Projects/FPL/player_dataframes"
for gw in range(1, 39):
    file_path = os.path.join(load_path, f'gw{gw}_players.csv')
    if os.path.exists(file_path):
        loaded_gameweek_dataframes[f'gw{gw}_df'] = pd.read_csv(file_path)
    else:
        loaded_gameweek_dataframes[f'gw{gw}_df'] = pd.DataFrame()
        print(f"No saved data found for Gameweek {gw}.")

# Loop through each gameweek number and create variables dynamically
for gw in range(1, 39):
    gw_key = f'gw{gw}_df'
    if gw_key in loaded_gameweek_dataframes:
        globals()[gw_key] = loaded_gameweek_dataframes[gw_key]
    else:
        print(f"No data available for {gw_key}.")

No saved data found for Gameweek 21.
No saved data found for Gameweek 22.
No saved data found for Gameweek 23.
No saved data found for Gameweek 24.
No saved data found for Gameweek 25.
No saved data found for Gameweek 26.
No saved data found for Gameweek 27.
No saved data found for Gameweek 28.
No saved data found for Gameweek 29.
No saved data found for Gameweek 30.
No saved data found for Gameweek 31.
No saved data found for Gameweek 32.
No saved data found for Gameweek 33.
No saved data found for Gameweek 34.
No saved data found for Gameweek 35.
No saved data found for Gameweek 36.
No saved data found for Gameweek 37.
No saved data found for Gameweek 38.

In [3]:
# Specify the directory and file name where the CSV file is saved
file_path = "/Users/evgenigeorgiev/Documents/Jupyter Projects/FPL/player_dataframes/player_ids.csv"

# Load the DataFrame from the CSV file
players_df = pd.read_csv(file_path)

players_df

,id,first_name,second_name,team_id,team_name,position_id,position
0,1,Folarin,Balogun,1,Arsenal,4,Forward
1,2,Cédric,Alves Soares,1,Arsenal,2,Defender
2,3,Mohamed,Elneny,1,Arsenal,3,Midfielder
3,4,Fábio,Ferreira Vieira,1,Arsenal,3,Midfielder
4,5,Gabriel,dos Santos Magalhães,1,Arsenal,2,Defender
...,...,...,...,...,...,...,...
766,768,Rhys,Bennett,14,Man Utd,2,Defender
767,769,Owen,Hesketh,20,Wolves,3,Midfielder
768,770,Ty,Barnett,20,Wolves,3,Midfielder
769,771,Micah,Hamilton,13,Man City,3,Midfielder
770,772,Ethan,Nwaneri,1,Arsenal,3,Midfielder

In [4]:
# Iterate through each gameweek key in the dictionary
for gw_key in loaded_gameweek_dataframes:
    # Add an empty 'first_name' column to the DataFrame
    loaded_gameweek_dataframes[gw_key]['first_name'] = ''
    # Add an empty 'second_name' column to the DataFrame
    loaded_gameweek_dataframes[gw_key]['second_name'] = ''

# Iterate through each gameweek DataFrame in the dictionary
for gw_key, gw_df in loaded_gameweek_dataframes.items():
    # Iterate over each row in the DataFrame
    for index, row in gw_df.iterrows():
        # Retrieve the player_id from the current row
        player_id = row['player_id']
        # Find the player in the players_df using the player_id
        player_info = players_df[players_df['id'] == player_id]
        # Check if the player was found in players_df
        if not player_info.empty:
            # Set the first name for the current row in the gameweek DataFrame
            loaded_gameweek_dataframes[gw_key].at[index, 'first_name'] = player_info.iloc[0]['first_name']
            # Set the second name for the current row in the gameweek DataFrame
            loaded_gameweek_dataframes[gw_key].at[index, 'second_name'] = player_info.iloc[0]['second_name']

In [5]:
# Assuming 'loaded_gameweek_dataframes' is a dictionary with keys for each gameweek
# like 'gw1_df', 'gw2_df', ..., 'gw38_df'. Each key maps to a DataFrame corresponding
# to player data for that particular gameweek.

# Step 1: Add empty columns for 'team_name' and 'team_id' to each gameweek DataFrame.
# This prepares the structure of each DataFrame for later data population.
for gw, df in loaded_gameweek_dataframes.items():
    df['team_name'] = ''  # Adding an empty column for team names
    df['team_id'] = 0     # Adding an empty column for team IDs (initialized with 0)

# Step 2 and 3: Iterate through each gameweek DataFrame and populate 'team_name' and 'team_id'.
for gw, df in loaded_gameweek_dataframes.items():
    # Iterating over each row in the current gameweek DataFrame
    for index, row in df.iterrows():
        # Finding the matching player in 'players_df' based on the first and second names.
        # The assumption here is that the combination of first and second names uniquely
        # identifies a player.
        player = players_df[(players_df['first_name'] == row['first_name']) & 
                            (players_df['second_name'] == row['second_name'])]

        if not player.empty:
            # If a matching player is found, update the 'team_name' and 'team_id' for that player
            # in the gameweek DataFrame.
            df.at[index, 'team_name'] = player.iloc[0]['team_name']  # Set the team name
            df.at[index, 'team_id'] = player.iloc[0]['team_id']     # Set the team ID

In [6]:
# Step 1: Add an empty column for 'position' to each gameweek DataFrame.
for gw, df in loaded_gameweek_dataframes.items():
    df['position'] = ''  # Adding an empty column for position

# Step 2: Iterate through each gameweek DataFrame and populate the 'position' column.
for gw, df in loaded_gameweek_dataframes.items():
    for index, row in df.iterrows():
        # Use player_id to find the matching player in 'players_df'.
        player_id = row['player_id']
        player = players_df[players_df['id'] == player_id]

        if not player.empty:
            # If a matching player is found, update the 'position' for that player
            # in the gameweek DataFrame.
            df.at[index, 'position'] = player.iloc[0]['position']  # Set the position

# Now, each DataFrame within loaded_gameweek_dataframes will have a 'position' column
# with the corresponding player's position.

In [7]:
list(loaded_gameweek_dataframes['gw1_df'])

['element',
 'fixture',
 'opponent_team',
 'total_points',
 'was_home',
 'kickoff_time',
 'team_h_score',
 'team_a_score',
 'round',
 'minutes',
 'goals_scored',
 'assists',
 'clean_sheets',
 'goals_conceded',
 'own_goals',
 'penalties_saved',
 'penalties_missed',
 'yellow_cards',
 'red_cards',
 'saves',
 'bonus',
 'bps',
 'influence',
 'creativity',
 'threat',
 'ict_index',
 'starts',
 'expected_goals',
 'expected_assists',
 'expected_goal_involvements',
 'expected_goals_conceded',
 'value',
 'transfers_balance',
 'selected',
 'transfers_in',
 'transfers_out',
 'player_id',
 'first_name',
 'second_name',
 'team_name',
 'team_id',
 'position']

In [8]:
loaded_gameweek_dataframes['gw1_df']

,element,fixture,opponent_team,total_points,was_home,kickoff_time,team_h_score,team_a_score,round,minutes,...,transfers_balance,selected,transfers_in,transfers_out,player_id,first_name,second_name,team_name,team_id,position
0,1,2,16,0,True,2023-08-12T12:00:00Z,2.0,1.0,1,0,...,0,59090,0,0,1,Folarin,Balogun,Arsenal,1,Forward
1,2,2,16,0,True,2023-08-12T12:00:00Z,2.0,1.0,1,0,...,0,29866,0,0,2,Cédric,Alves Soares,Arsenal,1,Defender
2,3,2,16,0,True,2023-08-12T12:00:00Z,2.0,1.0,1,0,...,0,10880,0,0,3,Mohamed,Elneny,Arsenal,1,Midfielder
3,4,2,16,0,True,2023-08-12T12:00:00Z,2.0,1.0,1,0,...,0,9548,0,0,4,Fábio,Ferreira Vieira,Arsenal,1,Midfielder
4,5,2,16,1,True,2023-08-12T12:00:00Z,2.0,1.0,1,4,...,0,2743150,0,0,5,Gabriel,dos Santos Magalhães,Arsenal,1,Defender
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
653,655,7,8,1,True,2023-08-12T14:00:00Z,0.0,1.0,1,3,...,0,0,0,0,655,Andre,Brooks,Sheffield Utd,17,Midfielder
654,656,7,8,1,True,2023-08-12T14:00:00Z,0.0,1.0,1,3,...,0,0,0,0,656,Antwoine,Hackford,Sheffield Utd,17,Forward
655,657,7,17,0,False,2023-08-12T14:00:00Z,0.0,1.0,1,0,...,0,0,0,0,657,Jesurun,Rak-Sakyi,Crystal Palace,8,Midfielder
656,658,7,17,0,False,2023-08-12T14:00:00Z,0.0,1.0,1,0,...,0,0,0,0,658,John-Kymani,Gordon,Crystal Palace,8,Forward
657,659,9,11,0,True,2023-08-13T15:30:00Z,1.0,1.0,1,0,...,0,0,0,0,659,Lucas,Bergström,Chelsea,7,Goalkeeper

### Project: 

Player Performance Consistency Analysis
Goal: Identify and visualize the most consistent FPL players.

Steps:

Data Preparation:

* Aggregate player performance data across multiple gameweeks. Calculate key statistics per player: average points per game, standard deviation, minimum, and maximum points.

Analysis:
    
* Identify players with high average points and low standard deviation as consistent performers.
* Optionally, segment players by position (defenders, midfielders, forwards) for more nuanced insights.

Visualization:
* Use line graphs to show point trends over gameweeks. 
* Create scatter plots with average points on one axis and standard deviation on the other, highlighting consistent performers.

Machine Learning Application:
* Cluster Analysis: Use K-means clustering to group players into categories based on performance metrics. This can reveal patterns and clusters of similar players.
* Feature Importance: Use a simple regression model to determine which features (like minutes played, goals, assists) most strongly predict a player’s points, providing insights into what drives consistency.

### Step1: Data Prep

In [45]:
# Step 1: Aggregate Data
# Concatenate all non-empty DataFrames in loaded_gameweek_dataframes
all_gameweeks_df = pd.concat([df for df in loaded_gameweek_dataframes.values() if not df.empty], ignore_index=True)

# Step 2: Calculate Key Statistics with Position Segmentation
# Group the data by player and calculate various statistics
player_stats = all_gameweeks_df.groupby(['player_id', 'first_name', 'second_name', 'position']).agg(
    total_points=('total_points', 'sum'),
    total_goals=('goals_scored', 'sum'),
    total_assists=('assists', 'sum'),
    total_clean_sheets=('clean_sheets', 'sum'),
    total_bonus=('bonus', 'sum'),
    total_minutes_played=('minutes', 'sum')
).reset_index()

# Calculate appearances as total minutes played divided by 90
player_stats['appearances'] = (player_stats['total_minutes_played'] / 90).apply(np.ceil)

# Calculate average points and bonus per actual appearance
player_stats['average_points'] = player_stats['total_points'] / player_stats['appearances']
player_stats['average_bonus'] = player_stats['total_bonus'] / player_stats['appearances']

# Calculate standard deviation of points per game based on actual appearances
player_stats['std_dev_points'] = all_gameweeks_df.groupby(['player_id', 'position'])['total_points'].apply(lambda x: x[x > 0].std()).reset_index(drop=True)

# Step 3: Get the most recent price for each player
latest_price = all_gameweeks_df.groupby('player_id')['value'].apply(lambda x: x.dropna().iloc[-1] if not x.dropna().empty else None).reset_index()
player_stats = player_stats.merge(latest_price, on='player_id', how='left')
player_stats['latest_price'] = player_stats['value'] / 10
player_stats.drop(columns=['value'], inplace=True)

# Step 4: Clean Data
# Remove rows where the standard deviation is not a number or latest price is empty
#player_stats = player_stats.dropna(subset=['std_dev_points', 'latest_price'])

# Additional cleaning steps can be added here if necessary

# Displaying the first few rows of the data
player_stats

,player_id,first_name,second_name,position,total_points,total_goals,total_assists,total_clean_sheets,total_bonus,total_minutes_played,appearances,average_points,average_bonus,std_dev_points,latest_price
0,1,Folarin,Balogun,Forward,0,0,0,0,0,0,0.0,NaN,NaN,NaN,4.4
1,2,Cédric,Alves Soares,Defender,0,0,0,0,0,0,0.0,NaN,NaN,NaN,3.9
2,3,Mohamed,Elneny,Midfielder,4,0,1,0,0,1,1.0,4.0000,0.00,NaN,4.4
3,4,Fábio,Ferreira Vieira,Midfielder,21,1,3,1,0,236,3.0,7.0000,0.00,2.497618,5.4
4,5,Gabriel,dos Santos Magalhães,Defender,57,1,0,5,4,1374,16.0,3.5625,0.25,2.871001,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
766,768,Rhys,Bennett,Defender,0,0,0,0,0,0,0.0,NaN,NaN,NaN,4.0
767,769,Owen,Hesketh,Midfielder,0,0,0,0,0,0,0.0,NaN,NaN,NaN,4.5
768,770,Ty,Barnett,Midfielder,0,0,0,0,0,0,0.0,NaN,NaN,NaN,4.5
769,771,Micah,Hamilton,Midfielder,0,0,0,0,0,0,0.0,NaN,NaN,NaN,4.5
770,772,Ethan,Nwaneri,Midfielder,0,0,0,0,0,0,0.0,NaN,NaN,NaN,4.5

In [49]:
player_stats.iloc[307]

player_id                      308
first_name                 Mohamed
second_name                  Salah
position                Midfielder
total_points                   140
total_goals                     12
total_assists                    7
total_clean_sheets               7
total_bonus                     18
total_minutes_played          1650
appearances                   19.0
average_points            7.368421
average_bonus             0.947368
std_dev_points            4.763408
latest_price                  13.3
Name: 307, dtype: object

In [22]:
num_gameweeks

20

### Step 2: Analysis:

In [59]:
# Assuming 'player_stats' DataFrame is already defined

# Filter Out Players with Insufficient Data
min_appearances = 12
filtered_player_stats = player_stats[player_stats['appearances'] >= min_appearances].copy()

# Calculate the Consistency Index
filtered_player_stats['consistency_index'] = filtered_player_stats['average_points'] / filtered_player_stats['std_dev_points'].replace(0, np.nan)

# Position-Based Analysis
position_mean_consistency = filtered_player_stats.groupby('position')['consistency_index'].mean()

# Correlation Analysis
correlation_matrix = filtered_player_stats[['total_points', 'total_goals', 'total_assists', 'total_clean_sheets', 'total_bonus', 'average_bonus']].corr()

# Identifying Top Consistent Performers
top_performers = filtered_player_stats.sort_values(by='consistency_index', ascending=False).head(10)

# Display Results
from IPython.display import display

print("Mean Consistency Index by Position:")
display(position_mean_consistency.reset_index())

print("\nCorrelation Matrix:")
display(correlation_matrix)

print("\nTop 10 Consistent Performers:")
display(top_performers)

Mean Consistency Index by Position:

     position  consistency_index
0    Defender           1.066197
1     Forward           1.394094
2  Goalkeeper           1.391616
3  Midfielder           1.485922

Correlation Matrix:

,total_points,total_goals,total_assists,total_clean_sheets,total_bonus,average_bonus
total_points,1.000000,0.744200,0.629263,0.509708,0.822990,0.779065
total_goals,0.744200,1.000000,0.470031,0.157674,0.576098,0.591017
total_assists,0.629263,0.470031,1.000000,0.226953,0.502207,0.478449
total_clean_sheets,0.509708,0.157674,0.226953,1.000000,0.337840,0.291509
total_bonus,0.822990,0.576098,0.502207,0.337840,1.000000,0.979322
average_bonus,0.779065,0.591017,0.478449,0.291509,0.979322,1.000000

Top 10 Consistent Performers:

,player_id,first_name,second_name,position,total_points,total_goals,total_assists,total_clean_sheets,total_bonus,total_minutes_played,appearances,average_points,average_bonus,std_dev_points,latest_price,consistency_index
51,52,Marvelous,Nakamba,Midfielder,21,0,0,0,0,1131,13.0,1.615385,0.000000,0.506370,4.4,3.190129
636,638,Vini,de Souza Costa,Midfielder,32,0,0,1,1,1413,16.0,2.000000,0.062500,0.646762,5.0,3.092329
125,126,Moisés,Caicedo Corozo,Midfielder,32,0,0,4,0,1350,15.0,2.133333,0.000000,0.781213,4.6,2.730795
46,47,Boubacar,Kamara,Midfielder,31,0,1,5,1,1347,15.0,2.066667,0.066667,0.771902,5.0,2.677368
558,559,João Victor,Gomes da Silva,Midfielder,31,0,1,2,0,1299,15.0,2.066667,0.000000,0.808957,4.9,2.554729
149,150,Jan Paul,van Hecke,Defender,21,0,0,0,1,1108,13.0,1.615385,0.076923,0.650444,4.0,2.483512
492,493,Yves,Bissouma,Midfielder,24,0,0,6,0,1211,14.0,1.714286,0.000000,0.707107,5.0,2.424366
11,12,Gabriel,Martinelli Silva,Midfielder,52,2,2,5,0,1219,14.0,3.714286,0.000000,1.675955,7.7,2.216221
505,506,Pedro,Porro,Defender,75,0,7,5,11,1617,18.0,4.166667,0.611111,1.990603,5.7,2.093168
104,105,Vitaly,Janelt,Midfielder,43,0,2,4,1,1466,17.0,2.529412,0.058824,1.243283,5.3,2.034462

In [58]:
# Step 2: Calculate the Adjusted Consistency Index
# Using square root of standard deviation to reduce its impact
filtered_player_stats['adjusted_consistency_index'] = filtered_player_stats['average_points'] / np.sqrt(filtered_player_stats['std_dev_points'].replace(0, np.nan))

# Establish a minimum average points threshold
min_avg_points = 0  # Example threshold, can be adjusted based on your analysis needs
filtered_player_stats = filtered_player_stats[filtered_player_stats['average_points'] >= min_avg_points]

# Step 5: Identifying Top Consistent Performers with Adjusted Index
# Sorting by adjusted consistency index to find top performers
top_performers_adjusted = filtered_player_stats.sort_values(by='adjusted_consistency_index', ascending=False).head(10)

# Display Top 10 Consistent Performers with Adjusted Index
print("\nTop 10 Consistent Performers with Adjusted Index:")
display(top_performers_adjusted[['first_name', 'second_name', 'position', 'average_points', 'std_dev_points', 'adjusted_consistency_index']])

Top 10 Consistent Performers with Adjusted Index:

,first_name,second_name,position,average_points,std_dev_points,adjusted_consistency_index
307,Mohamed,Salah,Midfielder,7.368421,4.763408,3.376102
525,Jarrod,Bowen,Midfielder,6.000000,3.162278,3.374048
292,Darwin,Núñez Ribeiro,Forward,6.000000,3.343123,3.281520
18,Bukayo,Saka,Midfielder,5.555556,3.257972,3.077895
556,Hwang,Hee-chan,Midfielder,5.875000,3.733835,3.040397
354,Erling,Haaland,Forward,7.466667,6.045857,3.036672
352,Phil,Foden,Midfielder,5.250000,2.990180,3.036062
361,Cole,Palmer,Midfielder,6.923077,5.241239,3.024003
289,Trent,Alexander-Arnold,Defender,6.062500,4.149770,2.976047
505,Pedro,Porro,Defender,4.166667,1.990603,2.953224